body {
  background-color: #DBD9F7;
  color: #292F36;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1 {
  color: #4ECDC7;
  font-family: 'Monserrat', sans-serif;
  letter-spacing: 3px;
}

h2 {
  color: #FF6B6B;
  font-family: 'Monserrat', sans-serif;
  letter-spacing: 2px;
}

h3 {
  color: #FF6B6B;
  font-family: 'Monserrat', sans-serif;
  font-weight: 350;
}

a {
  color: #292F36;
  font-size: 22px;
  text-decoration: none;
}

a:hover {
  color: #FCD100;
}

.text-bolder {
  font-weight: 700;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.card {
  background: white;
  margin: 15px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.img-circle {
  border-radius: 50%;
}

.text-center{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.movie-poster {
  width: 200px;
}

.left-padding {
  padding-left: 20px;
}

@media (max-width: 960px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

#profile-img {
  width: 250px;
  margin: 0 auto;
  }

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
padding-left: 0px;
}
